@media (min-width: 768px) {
  .navbar {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em;
  }

  .header_line {
    display: none;
  }
  .news_intro {
    max-width: 60%;
  }
  .overlay {
    max-width: 60%;
  }

  .morenews {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .articles {
    display: flex;
  }
  .articlesection {
    flex-direction: row;
  }
  #hiddenarticle {
    display: block;
  }
  .happening_left {
    max-width: 45%;
  }
  .happening_container {
    display: flex;
    justify-content: space-around;
  }
  .worldnews {
    padding: 4rem;
  }
  .overlay_text {
    top: 25%;
  }

  #divide {
    display: none;
  }
  .footer_left {
    flex-direction: column;
    height: 20rem;
    justify-content: space-around;
    padding: 3rem;
    width: 50%;
  }
  .desktopfooter {
    display: none;
  }
  .footercontent {
    display: flex;
  }
  .worldnewsheader {
    display: flex;
  }
  .more_header_line {
    display: none;
  }
  .overlay_text {
    top: 10%;
  }
  .searchpart {
    margin-left: 14%;
  }
  .firstarticlecontent {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .imageandtitle {
    width: 100%;
  }
  .usersarticles {
    padding: 5%;
  }
}

@media (max-width: 913px) {
  .news_intro {
    max-width: 100%;
  }
  .overlay {
    max-width: 100%;
  }
}

@media (min-width: 913px) {
  .firstarticlecontent {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .news_intro {
    min-height: 30rem;
  }
  .articles {
    display: flex;
    flex-direction: column;
  }
  .morenews {
    max-width: 40%;
    position: absolute;
    top: 25%;
    left: 60%;
    height: 100%;
  }
  .morenewsone {
    max-width: 40%;
    position: absolute;
    top: 30%;
    left: 40%;
    height: 100%;
  }
  .overlay {
    top: 25%;
  }
  .articlesection {
    flex-direction: row;
    justify-content: space-around;
  }
  #hiddenarticle {
    display: block;
  }
  .happening_left {
    max-width: 60%;
  }
  .happening_container {
    display: flex;
    justify-content: space-evenly;
  }

  #divide {
    display: none;
  }
  .footer_left {
    flex-direction: row;
    height: 20rem;
    justify-content: space-between;
    padding: 5rem;
    width: 50%;
  }
  .desktopfooter {
    display: flex;
  }
  .footercontent {
    display: flex;
  }
  .footercontent {
    display: none;
  }

  .searchpart {
    width: 40%;
    margin-top: 5%;
  }
  .worldnewsimg {
    max-width: 40%;
  }
  .articleone {
    flex-direction: row;
    align-items: center;
  }
  .imageandtitle {
    align-items: flex-start;
  }
  .articletwo {
    min-height: 1000px;
  }
  .articletwo img {
    align-self: center;
    max-width: 100%;
    width: 10000px;
  }
  .secondarticlecontent {
    max-width: 80%;
  }
  .imageandtitle {
    max-width: 30%;
    justify-content: space-around;
  }
}
