/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

#menuToggle {
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#burgerMenu a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#burgerMenu a:hover {
  color: tomato;
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#burgerNavigation {
  position: absolute;
  width: 80%;
  height: 100%;
  padding: 10%;
  padding-top: 125px;
  z-index: 10;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#burgerNavigation li {
  padding: 10px 0;
  font-size: 22px;
}

#burgerNavigation .footer_list li {
  padding: 10px 0;
  font-size: 18px;
}

#burgerNavigation .footer_right {
  flex-direction: column;
  height: 20rem;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  padding: 0;
}

.footeritem {
  height: 40%;
  background-color: #a6adb4;
  width: 80vw;
  transform: translateX(-10vw);
  position: absolute;
  bottom: 0;
}

#burgerNavigation .contacticons {
  margin-left: 6vw;
}

#burgerNavigation .footer_li {
  margin-left: 5vw;
  margin-top: 15vw;
}
